.App {
  text-align: center;
}

.level-selector {
  font-size: 16px;
  padding: 20px;
  margin-right: 8px;
}

.btn {
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.start-btn {
  background-color: #4CAF50;
  color: white;
}

.login-btn {
  background-color: #008CBA;
  color: white;
}

.pause-btn {
  background-color: #f39c12;
  color: white;
}

.restart-btn {
  background-color: #e74c3c;
  color: white;
}

.grid-container {
  display: grid; 
  grid-template-columns: repeat(auto-fit, 100px); /* Each grid square is 100px */
  gap: 10px; 
  justify-content: center; 
  margin: 20px auto; 
}

.game-action-buttons {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 20px; /* Add space between buttons */
  margin-top: 20px; /* Add space above the buttons */
  position: relative; /* Ensure the buttons stay in the flow of the layout */
}

.data-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.data-table th {
  background-color: #f2f2f2;
}

.login-message {
  margin-top: 10px;
  color: green;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

.grid-container {
  display: grid; /* Assuming you're using a grid for the game */
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Adjust as needed */
  gap: 10px; /* Space between grid items */
  justify-content: center; /* Center the grid horizontally */
  margin: 20px auto; /* Center the grid vertically with space around */
}

.user-display {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f9f9f9;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}



